.plyr--video .plyr__video-wrapper {
  position: relative !important;
}

.plyr--video .plyr__controls {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 0.75em 1.25em;
  width: auto;
  opacity: 1;
}
